<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <span>
        <img src="/img/alan-turing.jpg" alt="">
        <img src="/img/Grace_M._Hopper.jpg" alt="">
        <img src="/img/Edmund_Clarke.jpg" alt="">
        <img src="/img/CharlesBabbage.jpg" alt="">
    </span>
    <div>
        <img src="/img/Ada_lovelace.jpg" alt="">
        <img src="/img/Margaret_Hamilton.jpg" alt="">
        <img src="/img/Sir_Tim_Berners-Lee.jpg" alt="">
    </div>
</body>
</html>